<footer class="bg-gray-800 text-white py-8 mt-12 dark:bg-gray-900 dark:text-white">
  <div class="container mx-auto px-6 sm:px-12">
    <!-- Footer Content: Flex for large screens, Stack for small screens -->
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">

      <!-- Left Section: Developer Name or Logo -->
      <div class="text-center sm:text-left mb-6 sm:mb-0">
        <h3 class="text-xl font-bold text-white dark:text-gray-200">Mohamed Ammar</h3>
        <p class="text-sm text-gray-300 dark:text-gray-400">software Developer </p>
      </div>

      <!-- Middle Section: Social Links -->
      <div class="flex flex-col sm:flex-row sm:space-x-6 sm:justify-center sm:items-center mb-6 sm:mb-0">
        <a href="https://www.linkedin.com" target="_blank" class="hover:text-blue-500 mb-2 sm:mb-0 dark:hover:text-blue-400">
          <i class="fab fa-linkedin mr-2"></i>LinkedIn
        </a>
        <a href="https://github.com/simodev744" target="_blank" class="hover:text-gray-400 mb-2 sm:mb-0 dark:hover:text-gray-500">
          <i class="fab fa-github mr-2"></i>GitHub
        </a>

        <a href="https://.com" target="_blank" class="hover:text-blue-300 mb-2 sm:mb-0 dark:hover:text-blue-200">
          <i class="fab fa-twitter mr-2"></i>Twitter
        </a>
      </div>

      <!-- Right Section: Copyright -->
      <div class="text-center sm:text-right">
        <p class="text-sm text-gray-400 dark:text-gray-500">© 2025 Mohamed Ammar. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
